// navigation.html 
:root {
	--seagreen: lightseagreen;
}
.current {
	color: whitesmoke;
		
}

nav {
	text-align: center;
	word-spacing: 95px;
	float: none;
	text-decoration: none !important; 

}


a {
	color: #00ccff;
	text-decoration: none !important;
	
}

a:hover {
	text-decoration: none !important;

}

body {
	padding:0px 0 20px 0px;
	margin: 0px;
//	font:"OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font: 14px/1.5 Verdana, Arial, Tahoma, sans-serif;
	color:#f0e7d5;
	font-weight: normal;
	background: #252525;
	background-attachment: fixed !important;
	background: linear-gradient(#2a2a29, #1c1c1c);
	
  }

.img-responsive {
//  vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%; 
	
	
  }



ul {
	list-style-type: none;
	
	

  }
  
  .authors {
	margin-left: auto;
    margin-right: auto;
	width: 6em
  }
  
.content_default {
	margin: 65px 200px 75px 200px;
	  
	
}

.main_title {
	margin-top: 50px;
	text-align: center;
	font-size: 60px;
	font-family: Verdana, Geneva, Tahoma, sans-serif
	
}

hr {
	border-color: white;
	border-top: 1px dotted
}

.post_content {
	text-align: left;
	margin-top: 40px;
	margin-right: 200px;
	margin-left: 200px;
	font-size: 20px


}

.page_title {
	margin-top: 250px;
	text-align: center;
	font-size: 25px;
	margin-right: 200px;
	margin-left: 200px;
}

.date_author {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 40px;
}

.btn-primary {

    background-color: #FC9463;
	border-color: #FC9463;
	text-decoration: none;
	border-bottom-color: #FC9463

	

}

.btn-primary::after,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
	background-color: #FC9463;
	border-color: #FC9463;
    background-color: lightseagreen;
	border-color: lightseagreen;
	transition-property: var(--seagreen)
}

.copywrite {
	text-align: center;
	line-height: 0%;
}

.featured-image-post {
	max-width: 100%;
	height: auto;
	margin-top: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px
}



//.blog-roll {
//	display: grid;
//	grid-template-columns:  
	//grid-template-rows: 75px;}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 90px;
	column-gap: 30px;

}	

.blog-roll-img {
	width: 80%; 
	height: auto;
	object-fit: cover;
	float: right;
	grid-column: span 5;

	
}
	
.headline-grid {
	float: left;
}
	
	  
